DATABASE_URL=postgresql://postgres:password@localhost:5432/ph_car_rental
SECRET_KEY=nC25N9MpNCgtfuiVnpbJuAbrmdcmmVvozVBtCc3eOBk
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REDIS_URL=redis://localhost:6379/0
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
CLOUDINARY_CLOUD_NAME=bb7uqwhl
CLOUDINARY_API_KEY=745824883933695
CLOUDINARY_API_SECRET=Hf4FWw2PW0PsS0Mwc6_qVb5P7hM


